*
!.*
/.ansible
/.keras
/.ipython
/.gnupg
/.cache
/.local/
/.npm
/.netrc
/.password-store
/.pylint.d
/.theano
/.vscode-server
/.octave_hist
/.ssh
/.*_history
/.viminfo
/.wget-hsts
.angular-config.json
/.carrgo
/.wine