/*
!/.*
/.ansible
/.keras
/.ipython
/.gnupg
/.cache
/.local/
/.npm
/.netrc
/.password-store
/.pylint.d
/.theano
/.vscode-server
/.octave_hist
/.ssh
/.*_history
/.viminfo
/.wget-hsts
.angular-config.json
/.cargo
/.wine

# vscode
.config/*
!.config/Code
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/Code/User/snippets/*

/.virtualenvs
/.aw
/.docker
/.kube
/.azure
/.ServiceHub
.sudo_as_admin_successful
/.thunderbird
/.pki
.yarnrc
.xinputrc
.pam_environment
.pdfbox.cache
.pgAdmin*
/.pgadmin
/.mozilla
.python_history*
/.gnome
/.vscode
/.AMD
/.ICEauthority
/.PlayOnLinux
/.dbus
/.erlang.cookie
/.forever
/.oracle_jre_usage
/.steam
/.steampath
/.steampid
/.yarn
/.proton
/.mixxx
/.list.tasks
/.pftdb
/.poetry
/.psensor
/.pulse-cookie
/.paradoxlauncher
/.rustup
/.gimp*
/.nv
/.run*
/.fac*
/.rubberband.wisdom.d