/*
!/.*
/.ansible
/.keras
/.ipython
/.gnupg
/.cache
/.local/
/.npm
/.netrc
/.password-store
/.pylint.d
/.theano
/.vscode-server
/.octave_hist
/.ssh
/.*_history
/.viminfo
/.wget-hsts
.angular-config.json
/.cargo
/.wine

# vscode
.config/*
!.config/Code
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/Code/User/snippets/*